@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body.dark, body.dark * {
  background-color: #181c23 !important;
  color: #f1f5f9 !important;
}

body.dark .bg-blue-700,
body.dark header,
body.dark .section-hero,
body.dark .section-cta {
  background: #23272f !important;
  color: #f1f5f9 !important;
}

body.dark .btn-primary {
  background: #334155 !important;
  color: #fff !important;
}

body.dark .btn-primary:hover {
  background: #2563eb !important;
}
